body{

	margin: 0;
	padding: 0;
}
.canvas {
    margin:auto;
    width: 404px;
    border: 10px outset #bd99ff;
    padding: 10px;
}
header h2 {
    text-align: center;   
    color: white;
    font-family: monospace;
    font-size: 25px;
}

header div{
    display: flex;
    justify-content: space-around;
    background-color: #7899cc;
}
p{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}